<div style="padding: 10px 0;">
    <div class="alert alert-success" ng-if="vm.successUpdateData != undefined">Данные обновлены успешно.</div>
    <div class="alert alert-danger"  ng-if="vm.errorUpdateData != undefined">Во время обновления данных произошла ошибка.</div>
</div>

<button class="btn btn-default" ng-click="vm.parsingData()">Распарсить данные</button>


<h1>Каталог сайтов, предназначенные для парсинга.</h1>

<table class="table table-hover">
<thead>
<tr>
    <th>URL</th>
    <th>Наименование сайта</th>
    <th>Статус</th>
    <th>Дата создания</th>
    <th>Дата последнего редактирования</th>
    <th></th>
    <th></th>
</tr>
</thead>
<tbody>
<tr ng-repeat="shop in vm.shops">
    <td><a href="#/shops/{{shop.id}}">{{shop.url}}</a></td>
    <td>{{shop.name}}</td>
    <td>
        <span class="label label-success" ng-if="shop.status == 'ACTIVE'" ng-click="vm.changeStatus(shop.id)">АКТИВЕН</span>
        <span class="label label-danger" ng-if="shop.status == 'INACTIVE'" ng-click="vm.changeStatus(shop.id)">ДЕАКТИВИРОВАН</span>
    </td>
    <td>{{shop.createdDate | date:'dd/MM/yy HH:mm'}}</td>
    <td>{{shop.updatedDate | date:'dd/MM/yy HH:mm'}}</td>
    <th>
        <button type="submit" class="btn btn-success btn-sm" ng-click = "vm.parsingShop(shop.id)">Обновить</button>
    </th>
    <th>
        <div class="btn-group flex-btn-group-container">
            <button type="submit"
                    class="btn btn-info btn-sm">
                <span class="glyphicon glyphicon-eye-open"></span>

            </button>
            <button type="submit"
                    class="btn btn-primary btn-sm">
                <span class="glyphicon glyphicon-pencil"></span>

            </button>
            <button type="submit"
                    class="btn btn-danger btn-sm">
                <span class="glyphicon glyphicon-remove-circle"></span>

            </button>
        </div>

    </th>
</tr>
</tbody>
</table>

