<form>


    <!--ADD URL FOR SHOP-->
    <div ng-if="vm.page == 'SHOP'">
        <h1>01. Основные параметры магазина</h1>
        <div class="form-group"
             ng-class="{'has-success' : (vm.isCheckedUrl && vm.isValidUrl), 'has-error': (vm.isCheckedUrl && !vm.isValidUrl) }">
            <label class="control-label">URL магазина:</label>
            <div class="row">
                <div class="col-md-5">
                    <input type="text" class="form-control" ng-model="vm.shop.url">
                    <div ng-if="(vm.isCheckedUrl && vm.isValidUrl)" class="help-block">
                        Данная страница доступна.
                    </div>
                    <div ng-if="(vm.isCheckedUrl && !vm.isValidUrl)" class="help-block">
                        Данная страница не доступна или не корректная ссылка.
                    </div>
                    <div class="set-buttons">
                        <button class="btn btn-default" ng-click="vm.followToShops()">Назад</button>
                        <button class="btn btn-default" ng-click="vm.followToCategories()">Далее</button>
                    </div>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-default" ng-click="vm.checkUrl()">Check</button>
                </div>
                <div class="col-md-5">
                </div>
            </div>
        </div>
    </div>
    <!--END ADD URL FOR SHOP-->

    <div ng-if="vm.page == 'CATEGORIES'">
        <h1>02. Параметры для извлечения категорий</h1>
        <div class="row">
            <div class="col-md-7">


                <div class="form-horizontal">
                    <div class="form-group" ng-repeat="levelRule in vm.ruleExtractCategories">
                        <label class="col-sm-2 control-label">Уровень {{$index + 1}}</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="levelRule.selector">
                        </div>
                        <div class="col-md-2">
                            <div ng-if="$last">
                                <button type="button" class="btn btn-default btn-sm"
                                        ng-click="vm.addNewCategoryLevel()">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                                <button type="button" class="btn btn-default btn-sm"
                                        ng-click="vm.deleteLastCategoryLevel()"
                                        ng-if="!$first">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="set-buttons">
                    <button class="btn btn-default" ng-click="vm.followToShop()">Назад</button>
                    <button class="btn btn-default" ng-click="vm.extractCategories()">Извлечь категории</button>
                    <button class="btn btn-default" ng-click="vm.followToProducts()">Далее</button>
                </div>

            </div>


            <div class="col-md-5">
                <div ng-if="vm.categories.length > 0">

                    <ul>
                        <li ng-repeat="category in vm.categories" ng-include="'category-tree'"></li>
                    </ul>

                    <script type="text/ng-template" id="category-tree">
                        {{ category.name }}; {{category.href}}
                        <ul ng-if="category.children != null">
                            <li ng-repeat="category in category.children" ng-include="'category-tree'">
                            </li>
                        </ul>
                    </script>

                </div>
            </div>
        </div>
    </div>


    <div ng-if="vm.page == 'PRODUCTS'">
        <h1>03. Параметры для извлечения ссылок на товары</h1>

        <div class="row">
            <div class="col-md-7">
                <div class="form-group">
                    <label>Селектор для извлечения ссылок на товары:</label>
                    <input type="text" class="form-control" ng-model="vm.ruleExtractProductLink.selector">
                </div>

                <div class="form-horizontal">
                    <label>ПАГИНАТОР</label>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">Шаблон пагинатора</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" ng-model="vm.ruleExtractProductLink.paginatorTemplate">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">Селектор для вычисления количества страниц пагинатора</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" ng-model="vm.ruleExtractProductLink.paginatorStartPage">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">Селектор для вычисления количества страниц пагинатора</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" ng-model="vm.ruleExtractProductLink.paginatorStepChange">
                        </div>
                    </div>
                </div>

                <div class="set-buttons">
                    <button class="btn btn-default" ng-click="vm.followToCategories()">Назад</button>
                    <button class="btn btn-default" ng-click="vm.extractProductLinks()">Извлечь ссылки на товар/товары
                    </button>
                    <button class="btn btn-default" ng-click="vm.followToProduct()">Далее</button>
                </div>

            </div>
            <div class="col-md-5">
                <div ng-if="vm.productLinks.length > 0">
                    <p>Найдено: <strong> {{vm.productLinks.length}}</strong> ссылок</p>
                    <div ng-repeat="productLink in vm.productLinks">
                        <p><strong>Ссылка:</strong>{{productLink.url}}</p>
                        <p><strong>Категория:</strong>{{productLink.category.name}}</p>
                        <hr/>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--
            <div class="form-group">
                <label class="control-label">Селектор для извлечения ссылок на товары:</label>
                <div class="row">
                    <div class="col-md-5">
                        <input type="text" class="form-control" ng-model="vm.rulesextractproducts.selector">
                        <p class="help-block">Примечание: если выбрана галочка снизу, то в данном поле должен быть оберточный селектор всего товара</p>
                        <div class="set-buttons">
                            <button class="btn btn-default" ng-click="vm.followToCategories()">Назад</button>
                            <button class="btn btn-default" ng-click="vm.followToProduct()">Далее</button>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-default" ng-click="vm.extractProducts()">Check</button>
                    </div>
                    <div class="col-md-5">
                        <div ng-if="vm.productLinks.length > 0">
                            <p>Найдено: <strong> {{vm.productLinks.length}}</strong> ссылок</p>
                            <div ng-repeat="productLink in vm.productLinks">
                                <p><strong>Ссылка:</strong>{{productLink.originUrl}}</p>
                                <p><strong>Категория:</strong>{{productLink.category.name}}</p>
                                <hr/>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
    </div>

    <div ng-if="vm.page == 'PRODUCT'">
        <h1>04. Параметры для извлечения полей товара</h1>
        <div class="row">
            <div class="col-md-6">

                <div class="form-group">
                    <label class="control-label">Селектор для извлечения названия товара:</label>
                    <div class="row">
                        <div class="col-md-10">
                            <input type="text" class="form-control" ng-model="vm.ruleExtractProduct.selectorName">
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-default" ng-click="vm.extractProduct()">Check</button>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label">Селектор для извлечения ссылки на изображение:</label>
                    <div class="row">
                        <div class="col-md-10">
                            <input type="text" class="form-control" ng-model="vm.ruleExtractProduct.selectorImage">
                        </div>
                        <div class="col-md-2">

                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label">Селектор для извлечения COMPOSITION товара:</label>
                    <div class="row">
                        <div class="col-md-10">
                            <input type="text" class="form-control" ng-model="vm.ruleExtractProduct.selectorComposition">
                        </div>
                        <div class="col-md-2">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label">Селектор для извлечения SUMMARY товара:</label>
                    <div class="row">
                        <div class="col-md-10">
                            <input type="text" class="form-control" ng-model="vm.ruleExtractProduct.selectorSummary">
                        </div>
                        <div class="col-md-2">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label">Селектор для извлечения DESCRIPTION товара:</label>
                    <div class="row">
                        <div class="col-md-10">
                            <input type="text" class="form-control" ng-model="vm.ruleExtractProduct.selectorDescription">
                        </div>
                        <div class="col-md-2">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label">Селектор для извлечения цены товара:</label>
                    <div class="row">
                        <div class="col-md-10">
                            <input type="text" class="form-control" ng-model="vm.ruleExtractProduct.selectorPrice">
                        </div>
                        <div class="col-md-2">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label">Селектор для извлечения цены товара (OLD PRICE):</label>
                    <div class="row">
                        <div class="col-md-10">
                            <input type="text" class="form-control" ng-model="vm.ruleExtractProduct.selectorOldPrice">
                        </div>
                        <div class="col-md-2">
                        </div>
                    </div>
                </div>



                <div class="set-buttons">
                    <button class="btn btn-default" ng-click="vm.followToProducts()">Назад</button>
                    <button class="btn btn-default" ng-click="vm.extractProduct()">Извлечь товары</button>
                    <button class="btn btn-default" ng-click="vm.saveRules()">Сохранить правила</button>
                </div>

            </div>
            <div class="col-md-6">
                <div ng-if="vm.products.length > 0">
                    <p>Обработано: <strong>{{vm.products.length}}</strong> товаров</p>
                    <div ng-repeat="product in vm.products">
                        <div class="row">
                            <div class="col-md-4">
                                <img ng-src="{{vm.shop.url + product.imageUrl}}" class="product-image">
                            </div>
                            <div class="col-md-8">
                                <p>Name: {{product.name}}</p>
                                <p>Image: {{product.imageUrl}}</p>
                                <p>Composition: {{product.composition}}</p>
                                <p>Summary: {{product.summary}}</p>
                                <p>Descriptiom: {{product.description}}</p>
                                <p>Price: {{product.price}}</p>
                                <p>Old Price: {{product.oldPrice}}</p>
                                <p>Category: {{product.category.name}}</p>
                            </div>
                        </div>

                        <hr/>
                    </div>
                </div>
            </div>
        </div>


    </div>

</form>

