<h1>Извлечь поля продукта</h1>

<form>
    <div class>


        <div class="form-group">
            <label class="control-label">Наименование товара:</label>
            <div class="row">
                <div class="col-md-5">
                    <input type="text" class="form-control" ng-model="vm.selector['name']">
                </div>
                <div class="col-md-2">
                    <button class="btn btn-default" ng-click="vm.checkSelector('name')">Check</button>
                </div>
                <div class="col-md-5">
                    {{vm.foundSelectors['name']}}
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label">Цена товара:</label>
            <div class="row">
                <div class="col-md-5">
                    <input type="text" class="form-control" ng-model="vm.selector['price']">
                </div>
                <div class="col-md-2">
                    <button class="btn btn-default" ng-click="vm.checkSelector('price')">Check</button>
                </div>
                <div class="col-md-5">
                    {{vm.foundSelectors['price']}}
                </div>
            </div>
        </div>


        <div class="form-group">
            <label class="control-label">Изображение товара:</label>
            <div class="row">
                <div class="col-md-5">
                    <input type="text" class="form-control" ng-model="vm.selector['image']">
                </div>
                <div class="col-md-2">
                    <button class="btn btn-default" ng-click="vm.checkSrcImg('image')">Check</button>
                </div>
                <div class="col-md-5">
                    <img ng-src="{{vm.foundSelectors.image}}" ng-if="vm.foundSelectors.image != ''" ng-style="{'max-width': '200px'}">
                </div>
            </div>
        </div>




        <button class="btn btn-default" ng-click="vm.extractProduct()">Извлечь поля продуктов</button>
        <a class="btn bnt-default" ng-click="vm.nextStep()">Сформировать отчет</a>

        <div>
            <p ng-repeat="result in vm.results">{{result}}</p>
        </div>


</form>


