<h1>Извлечение категорий</h1>

<form name="form">


    <div class="form-group"
         ng-class="{'has-success' : (vm.isCheckedUrl && vm.isValidUrl), 'has-error': (vm.isCheckedUrl && !vm.isValidUrl) }">
        <label class="control-label" for="url">URL для извлечения ссылок на доступные категории:</label>
        <div class="row">
            <div class="col-md-5">
                <input type="text" class="form-control" id="url" name="url"
                       ng-model="vm.url">
                <div ng-if="(vm.isCheckedUrl && vm.isValidUrl)" class="help-block">
                    Данная страница доступна.
                </div>
                <div ng-if="(vm.isCheckedUrl && !vm.isValidUrl)" class="help-block">
                    Данная страница не доступна или не корректная ссылка.
                </div>
            </div>
            <div class="col-md-2">
                <button class="btn btn-default" ng-click="vm.checkUrl()">Check</button>
            </div>
            <div class="col-md-5">
            </div>
        </div>
    </div>


    <div class="form-group"
         ng-class="{'has-success' : (vm.isCheckedSelector && vm.foundSelector!=''), 'has-error': (vm.isCheckedSelector && vm.foundSelector=='') }">
        <label class="control-label" for="selector">Селектор для излвечения ссылок на категории:</label>
        <div class="row">
            <div class="col-md-5">
                <input type="text" class="form-control" id="selector" name="selector"
                       ng-model="vm.selector">
                <div ng-if="(vm.isCheckedSelector && vm.foundSelector!='')" class="help-block">
                    Данный селектор существует.
                </div>
                <div ng-if="(vm.isCheckedSelector && vm.foundSelector=='')" class="help-block">
                    Селектор не найдет.
                </div>
            </div>
            <div class="col-md-2">
                <button class="btn btn-default" ng-click="vm.checkSelector()">Check</button>
            </div>
            <div class="col-md-5">
                {{vm.foundSelector}}
            </div>
        </div>
    </div>


    <!--
    <div class="form-group">
        <label class="control-label" for="template">Шаблон ссылки на каталог (подходящие ссылки):</label>
        <div class="row">
            <div class="col-md-5">
                <input type="text" class="form-control" id="template" name="template"
                       ng-model="vm.template">
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-5">

            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label" for="exclude">Шаблоны ссылок для исключения:</label>
        <div class="row">
            <div class="col-md-5">
                <input type="text" class="form-control" id="exclude" name="exclude"
                       ng-model="vm.excludeUrl">
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-5">

            </div>
        </div>
    </div>-->

    <a ui-sref="home" class="btn btn-primary">Назад</a>
    <button class="btn btn-primary" ng-click="vm.extractCategories()">Применить правила</button>
    <a class="btn btn-primary" ng-click="vm.nextView()">Далее</a>




    <div class="row">
        <div class="col-md-6">
            <p ng-repeat="category in vm.categories">{{category}}</p>
        </div>
        <div class="col-md-6">

        </div>
    </div>


</form>


<hr/>
